services:
  web:
    command: sh -c "python -m app.pre_start && 
                    alembic upgrade head && 
                    uvicorn app.main:app --host 0.0.0.0 --port 8000 --reload"
    volumes:
      - .:/app
    ports:
      - "8000:8000"

  db:
    ports:
      - "5434:5432"